
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#callGo1").on('click', function() {
                        $.ajax({
                            url: "http://localhost:8080/API/1?id=10",
                            method: "GET",
                            success: function(data) {
                                $("#response").html(data);
                            },
                        });
					});
				});
			</script>
	<head>
		<meta charset="UTF-8">
		<title>Rkt POS</title>
	</head>
	<body>
		<div><button>Button1</button></div><div><button>button2</button></div>
		<div><button>button2</button></div>
		<button>Button1</button>
		<div>Start Order</div><div>Cash Out</div>
	</body>
</html>